*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;   
    font-family: "Roboto", sans-serif;
}

h4 {
    font-size: 20px;
}

p {
    font-weight: 300;
    color: grey;
    line-height: 1.5;
}

h3 {
    font-size: 38px;
}   

h5 {
    color: grey;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
}

h2 {
    color: white;
    font-style: italic;
    font-weight: 300;
    font-size: 42px;
}

h1 {
    color: white;
    font-size: 62px;
}

.section-title {
    margin-bottom: 10px;
    text-align: center;
}

.section-subtitle {
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: center;
}

header {

    background-image: url("../images/splash.png");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;

    position: relative;

    nav .row {
        justify-content: space-between;
        padding-top: 40px;

        #mobile-menu ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;
            li {    
                padding: 0 20px;
                padding-bottom: 10px;        
                a {
                    text-decoration: none;    
                    color: white;
                }
            }
        }

        img {
            height: 35px;
            width: auto;
        }
    }

    .splash-inner {

        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        text-align: center;

        .page-title {
            margin-top: 0px;
        }

        .btn {
            display: inline-block;

            text-align: center;
            text-decoration: none;
            cursor: pointer;

            border-width: 0;
            border-style: none;
            border-radius: 3px;
            line-height: 1;

            min-width: 140px;
            margin: 25px auto 0 auto;
            padding: 20px 45px;
            font-size: 16px;
            font-weight: 600;

            color: white;
            background-color: #fed136;
            background-position: 100% 0;
            background-size: 300%;

            transition: all 1s;

            background-image: linear-gradient(90deg, transparent 50%, #fed136 50%);
        }

        .btn:hover {
            background-position: 0 100%;
            background-color: transparent;
            border-width: 2px;
            border-style: solid;
        }
    }

}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.services {
    .row {
        text-align: center;

        h4 {
            margin: 15px auto;
        }

        img {

        }
    }
}



.portfolio {
    background-color: #f7f7f7;
    text-align: center;

    .row {
        .cart {
            background-color: white;
            width: 350px !important;

            h4, p, img {
                width: 350px !important;
            }

            h4 {
                margin-top: 30px;
                margin-bottom: 0px;
            }

            p {
                margin-top: 3px;
                padding-bottom: 30px;
            }

            margin-bottom: 50px;

        }
    }
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;

    .row {
        align-items: center;

        .text {
            color: black;
        }

        ul {
            color: white;
            display: flex;
            flex-direction: row;
            list-style-type: none;

            li {
                .circle {
                    background-color: blue;
                    border-radius: 50%;
                    padding: 20px;
                    width: 50px;
                    height: 50px;

                    display: flex;
                    position: relative;
                    margin-right: 10px;

                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 28px;
                        color: white;
                    }
                }

                .c-1 {
                    background-color: #00aced;
                }
                .c-2 {
                    background-color: #3b5998;
                }
                .c-3 {
                    background-color: #cb2028;
                }
                .c-4 {
                    background-color: #da2713;
                }

            }
        }
    }

    
}


